.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card {
  height: 10rem;
  width: 20rem;
  background: url(../assets/black-star.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.subtitle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: yellow;
}

.Prop {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "STAR WARS FONT";
  src: local("STAR WARS FONT"), url("StarWars.woff") format("woff");
}

h1 {
  position: relative;
  font-family: "STAR WARS FONT";
  font-size: 80px;
  color: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
